TgCrypto
pyrogram
python-telegram-bot
Pillow
telegraph==2.2.0
requests==2.25.1
httpx
libcst
wget
ujson
dnspython
lexica-api
lyricsgenius
jsons
opencv-contrib-python-headless
opencv-python

#--ytdl--#
youtube-search-python
youtube-search
yt-dlp==2024.4.9
