TgCrypto
pyrogram
python-telegram-bot
Pillow
telegraph==2.2.0
requests
httpx
libcst
wget
ujson
dnspython
lexica-api
lyricsgenius
jsons
opencv-contrib-python-headless


#--ytdl--#
youtube-search-python
youtube-search
yt-dlp==2024.4.9
